<header>
    <h1>Kirppa <img src="img/logo/kirppa.png" alt="Kirppa-logo" class="logo" (click)="navigateToFrontpage()"></h1>
    <!-- <p>Kirpparit kaikille - Tuotteet talteen</p> -->
</header>
<div class="burger-menu" (click)="openModal()">&#9776;
  
</div>
<div class="modal" [class.open]="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <button *ngIf="!user?.name" 
      (click)="showAuth()"
      class="login-button">Kirjaudu sisään</button>
    <button *ngIf="user?.name" 
      (click)="logout()"
      class="logout-button">Kirjaudu ulos</button>
    <p class="user-name" *ngIf="user?.name">👤 {{user?.name}}</p>
    <app-navbar *ngIf="user?.name"></app-navbar>
  </div>
</div>