<div class="create-product">
    <h3>Lisää uusi tuote</h3>
    <form (ngSubmit)="createProduct()">
        <input type="text" id="name" placeholder="Tuotenimi" [(ngModel)]="product.name" name="name" required>
        <textarea id="description" placeholder="Tuotekuvaus" [(ngModel)]="product.description" name="description" required minlength="1" maxlength="30"></textarea>
        <input type="number" id="price" placeholder="Hinta €" [(ngModel)]="product.price" name="price" required value="">
        <select id="category" [(ngModel)]="product.category" name="category" required>
            <option value="" disabled selected hidden>Tuotekategoria</option>
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
        <button type="submit">Lisää tuote</button>
      </form>
</div>

