<div class="main-container">
    <button (click)="toggleProducts()" class="show-product-button">Näytä tuotteet</button>
    <div *ngIf="products.length > 0 && showProducts" class="products-selection">
        <label class="show-images-label">
            <input type="checkbox" [(ngModel)]="showImages"> Näytä kuvat
        </label>
        <div class="items">
            <div class="sales-items">
                <app-create-product></app-create-product>
                <app-product
                    *ngFor="let product of products"
                    [imageUrl]="product.imageUrl"
                    [altText]="product.altText"
                    [title]="product.title"
                    [price]="product.price"
                    [status]="product.status"
                    [showImage]="showImages">
                </app-product>
            </div>
        </div>
    </div>
</div>