<div class="main-container">
    <label class="show-images-label">
        <input type="checkbox" [(ngModel)]="showImages"> Näytä kuvat
    </label>
        <div class="items">
            <div class="sales-items">
                <app-product
                    *ngFor="let product of products"
                    [imageUrl]="product.imageUrl"
                    [altText]="product.altText"
                    [title]="product.title"
                    [price]="product.price"
                    [status]="product.status"
                    [showImage]="showImages">
                </app-product>
            </div>
        </div>
</div>