<div class="main-container">
    <button (click)="toggleProducts()" class="show-product-button">Näytä/Piilota tuotteet</button>
    <div class="products-selection">
        <app-create-product></app-create-product>
        <div *ngIf="products.length > 0 && showProducts" class="items">
            <label class="show-label">
                <input type="checkbox" [(ngModel)]="showImages"> Näytä kuvat
            </label>
            <div class="sales-items">
                <app-product
                    *ngFor="let product of products"
                    [imageUrl]="product.image_url"
                    [altText]="product.description"
                    [title]="product.name"
                    [price]="product.price"
                    [status]="product.status"
                    [showImage]="showImages">
                </app-product>
            </div>
        </div>
    </div>
</div>